# name : organization
#
# objectClass : top
# objectClass : organization
#

PREFIX: o

REQUIRED ATTRIBUTES

OPTIONAL ATTRIBUTES
businessCategory
description
destinationIndicator
facsimileTelephoneNumber
internationaliSDNNumber
l
physicalDeliveryOfficeName
postOfficeBox
postalAddress
postalCode
preferredDeliveryMethod
registeredAddress
searchGuide
seeAlso
st
streetAddress
telephoneNumber
teletexTerminalIdentifier
telexNumber
userPassword
x121Address
