authorityrevocationlist=binary
userpassword=binary,lbe.editor.PasswordEditor
usercertificate=binary,lbe.editor.CertificateEditor2 -autoview
usercertificate;binary=binary,lbe.editor.CertificateEditor2 -autoview
javaserializedobject=binary
crosscertificatepair=binary
cacertificate=binary,lbe.editor.CertificateEditor2 -autoview
thumbnaillogo=binary,lbe.editor.ImageEditor
thumbnailphoto=binary,lbe.editor.ImageEditor
certificaterevocationlist=binary,lbe.editor.CertificateEditor2 -autoview
jpegphoto=binary,lbe.editor.ImageEditor -autoview -s 50
x500uniqueidentifier=binary
personalsignature=binary
audio=binary,lbe.editor.SoundEditor
supportedcontrol=string, lbe.editor.ControlViewer

############
# examples
############

# certificateRevocationList;binary=binary,lbe.editor.ExtBinaryEditor -ext -extcmd "rundll32.exe cryptext.dll,CryptExtOpenCRL {0}"

# mail=string,lbe.editor.ExtStringViewer -ext -extcmd "C:\\Program Files\\Outlook Express\\msimn.exe /mailurl:mailto:{0}"

# cacertificate;binary=binary,lbe.editor.CertificateEditor2 -ext -extcmd "rundll32.exe cryptext.dll,CryptExtOpenCER {0}"
